.searchBtn {
    box-shadow: 3px 3px 2px #888888;
}


.itinerariesTitle {
  border-style: solid;
  border-color: black;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-width: 1px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0px;
}

.itinerary {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 5px;
  margin-top: 0px;
  background-color: white;
}

.itinBorder {
  margin-top: 3px;
}

.itineraryName {
  color: #337AB7;
 /* text-align: center;*/
  font-family: 'Oswald', sans-serif;
}

.itineraryLocation {
/*  text-align: center;*/
  margin-top: 0px;
}

/*.userImage {
  border-style: solid;
  border-color: black;
  height: 75px;
  width: 75px;
  margin: 4px;
  text-align: center;
}*/
.userName {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
  color: #337AB7;
  font-family: 'Oswald', sans-serif;
}

.itineraryLists {
  margin-top: 0px;
  height: 700px;
  overflow: scroll;
}

#itinerarySuggestions {
  border-style: solid;
  border-color: black;
}

.suggestionsAccordion {
  margin-bottom: 0px;
}



.mapBorder {
  padding-left: 0px;
  padding-right: 0px;
}

.panel-group {
    margin-bottom: 0px;
}




.itinerariesMap {
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.loginDivder {
  margin-bottom: 0px;
}