.loginSignup {
  text-align: center;
  border-style: solid;
  border-color: #337AB7;
  margin-top: 0px;
  background-color: #337AB7;
  color: white;
  margin-bottom: 20px;
}



.fields {
  color: white;
  border-style: solid;
  background-color: #337AB7;
  margin-left: 40px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  margin-left: 3px;
  width: 100%;
  padding-left: 15px;

}



.mdLgFields {
  border-left-width: 0px;
  border-top-width: 0px;
  padding-top: 0px;
  margin-left: 1px;
  width: 100%;
  padding-left: 0px;
}






/****************************************************
LOGIN/SIGNUP
****************************************************/

.or {
  text-align: center;
}


.formPadding {
  padding-left: 12px;
}

.inputField {
  margin-bottom: 15px;
}

.grey-text {
  color: grey;
}



/****************************************************
LOGIN
****************************************************/
.loginSubmitBtn {
  width: 100%;
}

.guestLogin {
  text-align: center;
}



/****************************************************
SIGNUP
****************************************************/
.signupBtn {
  width: 100%;
}
