.example {
  background-color: purple;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px
}
#mapid {
  width: 100%;
  min-height: 100%;
  position: absolute;
}
#content {
  position: absolute;
  margin-left: 25px;
}


.myItinerary {
  margin-top: 125px;
  margin-left: 25px;
  width: 500px;
  border-style: solid;
  border-color: black;
  background-color: white;
}