









<h5>The Trip Chats Team</h5>
<div class="row text-center">

  <!-- Darryl Mendonez -->
  <div class="col-md-3">
    <a href="https://darrylmendonez.herokuapp.com/" target="_blank">
      <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/darryl.jpg">
    </a>
    <h5><a href="https://darrylmendonez.herokuapp.com/" target="_blank">Darryl<br />
    Mendonez</a></h5>
    <a href="https://www.linkedin.com/in/darrylmendonez" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="https://github.com/MrMendonez" target="_blank"><i class="fa fa-github fa-2x"></i></a>
    <a href="https://twitter.com/MrMendonez" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="https://darrylmendonez.herokuapp.com/" target="_blank"><i class="fa fa-user fa-2x"></i></a>
  </div>

  <!-- Jeremy Miragliotta -->
  <div class="col-md-3">
    <a href="http://www.jmigsdesign.com/" target="_blank">
      <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/jeremy.jpg">
    </a>
    <h5 class="names-in-footer"><a href="http://www.jmigsdesign.com/" target="_blank">Jeremy<br />
    Miragliotta</a></h5>
    <a href="https://www.linkedin.com/in/jeremymiragliotta" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="https://github.com/jdmiragliotta" target="_blank"><i class="fa fa-github fa-2x"></i></a>
    <a href="https://twitter.com/jmigsdesign" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="http://www.jmigsdesign.com/" target="_blank"><i class="fa fa-user fa-2x"></i></a>
  </div>

  <!-- Dan Petro -->
  <div class="col-md-3">
    <a href="https://danpetro.herokuapp.com" target="_blank">
      <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/dan.png">
    </a> 
    <h5 class="names-in-footer"><a href="https://danpetro.herokuapp.com" target="_blank">Dan<br />
    Petro</a></h5> 
    <a href="https://www.linkedin.com/in/danpetro7" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="https://github.com/dpetro07" target="_blank"><i class="fa fa-github fa-2x"></i></a>
    <!-- <a href="https://twitter.com/paulducsantos" target="_blank"><i class="fa fa-twitter fa-2x"></i></a> -->
    <a href="https://danpetro.herokuapp.com" target="_blank"><i class="fa fa-user fa-2x"></i></a>
  </div>

  <!-- Paul Santos -->
  <div class="col-md-3">
    <a href="https://paulsantos.herokuapp.com/" target="_blank">
      <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/paul.jpg">
    </a> 
    <h5 class="names-in-footer"><a href="https://paulsantos.herokuapp.com/" target="_blank">Paul<br />
    Santos</a></h5> 
    <a href="https://www.linkedin.com/in/paulmichaelsantos" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="https://github.com/paulducsantos" target="_blank"><i class="fa fa-github fa-2x"></i></a>
    <a href="https://twitter.com/paulducsantos" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="https://paulsantos.herokuapp.com/" target="_blank"><i class="fa fa-user fa-2x"></i></a>
  </div>
</div>