<div class="container">
  <div class="row">
    <form class="col-md-12">
      <div class="row">
        <div class="input-field col-md-4">
          <label for="itinerary.name">Intinerary Name</label>
          <input ng-model="itinerary.title" name="title" type="text" class="form-control validate">
        </div>
        <div class="input-field col-md-4">
          <label for="itinerary.location">Location</label>
          <input ng-model="itinerary.location" name="location" type="text" class="form-control validate">
        </div>
      </div>
      <button href="#" class="btn right" ng-click="addItinerary()">Save Itinerary</button>
    </form>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="itinerary-panel" ng-repeat="itinerary in userItineraries | orderBy:'created_at':true">
        <div class="itinerary-header">
          <h3 ng-hide="editOptions">{{itinerary.title}} in {{itinerary.location}}</h3>
          <div class="editable-inputs" ng-show="editOptions">
            <div class="col-sm-6">
              <input type="text" ng-model="itinerary.title"  class="form-control">
            </div>

            <div class="col-sm-4">
              <input type="text" ng-model="itinerary.location"  class="form-control">
            </div>
          </div>
        </div>
        <div class="itinerary-body">
          <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-9">
              <div class="row">
                <h6>What are you interested in?</h6>
                <div class="form-group">
                  <div class="col-sm-9">
                    <div class="col-sm-8">
                      <input placeholder="Museums"  ng-model="itinerary.newActivity.name" type="text" class="validate form-control">
                    </div>
                  </div>
                </div>
                <a href="" class="btn" ng-click="addActivity(itinerary.id, itinerary.newActivity)">Add Interest</a>

               <div ng-repeat="activity in itinerary.Activities">

                  <div class="col-md-4">

                      <div class="interest text-center">
                        <span class="btn">{{activity.name}}</span>
                      </div>
                      <span class="interest-delete" ng-show="editOptions" ng-click="deleteActivity(activity.id)" class="delete-activity">&times;</span>

                  </div><!-- end col s4 -->
                </div>
              </div><!-- end row -->
            </div><!-- end col s9 -->
          </div><!-- end row -->
        </div><!--end itinerary-body -->
        <div class="itinerary-footer clearfix">
          <div class="button-container pull-right">
            <a ui-sref="itinerary/" class="btn">View</a>
            <a href="#" ng-click="editItinerary(itinerary); editOptions=false" ng-show="editOptions" class="btn">Save</a>
            <a href="#" ng-click="showEditableItinerary(itinerary.id); editOptions=true" ng-hide="editOptions" class="btn">Edit</a>
            <a href="#" ng-click="deleteItinerary(itinerary.id)" class="btn">Delete</a>
          </div>
        </div>
      </div><!-- End Itineray-panel -->
    </div><!-- end col s7-->
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading">
          Latest Itineraries
        </div>
        <div class="panel-body">

        </div>
        <div class="panel-footer">

        </div>
      </div>
    </div>
  </div><!-- end row-->
</div><!-- end container -->

