<div class="container">
  <div class="row">
    <form class="col s12">

      <div class="row">
        <div class="input-field col s6">
          <input ng-model="itinerary_name" name="title" type="text" class="validate">
          <label for="itinerary_name">Intinerary Name</label>
        </div>

        <div class="input-field col s6">
          <input ng-model="location" name="location" type="text" class="validate">
          <label for="location">Location</label>
        </div>
      </div>

      <a href="#" class="btn right" ng-click="addItinerary()">Save Itinerary</a>

    </form>
  </div>

  <div class="row">
    <div class="col s7">

      <div class="itinerary-panel" ng-repeat="itinerary in userItineraries | orderBy:'created_at':true">

        <div class="itinerary-header">
          <h3>{{itinerary.title}}</h3>
        </div>

        <div class="itinerary-body">
          <div class="row">
            <div class="col s3">
             <!--  {{MapBox Location}} -->
            </div>
            <div class="col s9">
              <div class="row">
                <h6>Add Activity:</h6>
                <div class="input-field">
                  <input placeholder="Museums" id="activity" ng-model="activity" type="text" class="validate col">
                </div>
                <a href="" class="btn" ng-click="addActivity()">Add Activity</a>
                <div ng-repeat"activity in activties">
                  <div class="col s4">
                    <ul>
                      <li ng-repeat="activity in activites"><span class="btn">{{activity}}<span ng-click="deleteActivity(activity.id)" class="delete-activity">x</span></span>
                      </li>
                    </ul>
                  </div><!-- end col s4 -->
                </div><!-- end activities -->
              </div><!-- end row -->
            </div><!-- end col s9 -->
          </div><!-- end row -->
        </div><!--end itinerary-body -->

        <div class="itinerary-footer">
          <a ui-sref="itinerary/" class="btn">View</a>
          <a href="#" ng-click="editItinerary(itinerary.id)" class="btn">Edit</a>
          <a href="#" ng-click="deleteItinerary(itinerary.id)" class="btn">Delete</a>
        </div>
      </div><!-- End Itineray-panel -->

    </div><!-- end col s7-->

      <!-- <div class="col s5">
      </div> -->
  </div><!-- end col s7-->
</div><!-- end container -->
