<div class="container-fluid header-background">
  <h3>Welcome To Your Dashoard</h3>
</div>

<div class="container">
  <div class="row">
    <div class="add-itinerary-panel">
      <form class="col-sm-8">
          <div class="form-group col-sm-4">
            <input ng-model="itinerary.title" name="title" type="text" class="form-control validate" placeholder="Intinerary Name">
          </div>
          <div class="form-group col-sm-4">
            <input ng-model="itinerary.location" name="location" type="text" class="form-control validate" placeholder="Location">
          </div>
           <div class="form-group col-sm-4">
            <button href="#" class="btn " ng-click="addItinerary()">Save Itinerary</button>
          </div>
      </form>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-8">
      <div class="itinerary-panel" ng-repeat="itinerary in userItineraries | orderBy:'created_at':true">
        <div class="itinerary-header">
          <h3 class="dash-itinerary-heading" ng-hide="editOptions">{{itinerary.title}} in {{itinerary.location}}</h3>
          <div class="editable-inputs" ng-show="editOptions">
            <div class="col-sm-6">
              <input type="text" ng-model="itinerary.title"  class="form-control">
            </div>

            <div class="col-sm-4">
              <input type="text" ng-model="itinerary.location"  class="form-control">
            </div>
          </div>
        </div>
        <div class="itinerary-body">
          <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-9">
              <div class="row">
                <div class="form-group">
                  <h5>What are you interested in?</h5>
                  <div class="form-inline input-group add-interest-form ">
                    <input placeholder="Museums"  ng-model="itinerary.newActivity.name" type="text" class="validate form-control">
                    <div class="input-group-btn">
                      <button class="btn btn-success" ng-click="addActivity(itinerary.id, itinerary.newActivity)">Add</button>
                    </div>
                  </div>
                </div>

               <div ng-repeat="activity in itinerary.Activities">

                  <div class="col-md-4">
                      <div class="interest text-center">
                        <span class="interest-name">{{activity.name}}</span>
                      </div>
                      <span class="interest-delete" ng-show="editOptions" ng-click="deleteActivity(activity.id)" class="delete-activity">&times;</span>
                  </div><!-- end col s4 -->
                </div>
              </div><!-- end row -->
            </div><!-- end col s9 -->
          </div><!-- end row -->
        </div><!--end itinerary-body -->
        <div class="itinerary-footer clearfix">
          <div class="button-container pull-right">
            <a ui-sref="itinerary/" class="btn">View</a>
            <a href="#" ng-click="editItinerary(itinerary); editOptions=false" ng-show="editOptions" class="btn">Done</a>
            <a href="#" ng-click="showEditableItinerary(itinerary.id); editOptions=true" ng-hide="editOptions" class="btn">Edit</a>
            <a href="#" ng-click="deleteItinerary(itinerary.id)" class="btn">Delete</a>
          </div>
        </div>
      </div><!-- End Itineray-panel -->
    </div><!-- end col s7-->


    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading">
          Latest Itineraries
        </div>
        <div class="panel-body">

        </div>
        <div class="panel-footer">

        </div>
      </div>
    </div>
  </div><!-- end row-->
</div><!-- end container -->

