<footer class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="row">
        <div class="col-md-6">
          <h5>Trip Chats</h5>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur!</p>
        </div> <!-- end col-md-6 -->
        <div class="col-md-6">
          <h5>The Trip Chats Team</h5>
          <div class="row text-center">

            <!-- Darryl Mendonez -->
            <div class="col-md-3">
              <a href="https://darrylmendonez.herokuapp.com/" target="_blank">
                <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/darryl.jpg">
              </a>
              <h5><a href="https://darrylmendonez.herokuapp.com/" target="_blank" class="names-in-footer">Darryl<br />
              Mendonez</a></h5>
              <a href="https://www.linkedin.com/in/darrylmendonez" target="_blank"><i class="fa fa-linkedin-square fa-2x profile-icons"></i></a>
              <a href="https://github.com/MrMendonez" target="_blank"><i class="fa fa-github fa-2x profile-icons"></i></a>
              <a href="https://twitter.com/MrMendonez" target="_blank"><i class="fa fa-twitter fa-2x profile-icons"></i></a>
              <a href="https://darrylmendonez.herokuapp.com/" target="_blank"><i class="fa fa-user fa-2x profile-icons"></i></a>
            </div>

            <!-- Jeremy Miragliotta -->
            <div class="col-md-3">
              <a href="http://www.jmigsdesign.com/" target="_blank">
                <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/jeremy.jpg">
              </a>
              <h5><a href="http://www.jmigsdesign.com/" target="_blank" class="names-in-footer">Jeremy<br />
              Miragliotta</a></h5>
              <a href="https://www.linkedin.com/in/jeremymiragliotta" target="_blank"><i class="fa fa-linkedin-square fa-2x profile-icons"></i></a>
              <a href="https://github.com/jdmiragliotta" target="_blank"><i class="fa fa-github fa-2x profile-icons"></i></a>
              <a href="https://twitter.com/jmigsdesign" target="_blank"><i class="fa fa-twitter fa-2x profile-icons"></i></a>
              <a href="http://www.jmigsdesign.com/" target="_blank"><i class="fa fa-user fa-2x profile-icons"></i></a>
            </div>

            <!-- Dan Petro -->
            <div class="col-md-3">
              <a href="https://danpetro.herokuapp.com" target="_blank">
                <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/dan.png">
              </a> 
              <h5><a href="https://danpetro.herokuapp.com" target="_blank" class="names-in-footer">Dan<br />
              Petro</a></h5> 
              <a href="https://www.linkedin.com/in/danpetro7" target="_blank"><i class="fa fa-linkedin-square fa-2x profile-icons"></i></a>
              <a href="https://github.com/dpetro07" target="_blank"><i class="fa fa-github fa-2x profile-icons"></i></a>
              <!-- <a href="https://twitter.com/paulducsantos" target="_blank"><i class="fa fa-twitter fa-2x profile-icons"></i></a> -->
              <a href="https://danpetro.herokuapp.com" target="_blank"><i class="fa fa-user fa-2x profile-icons"></i></a>
            </div>

            <!-- Paul Santos -->
            <div class="col-md-3">
              <a href="https://paulsantos.herokuapp.com/" target="_blank">
                <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/paul.jpg">
              </a> 
              <h5><a href="https://paulsantos.herokuapp.com/" target="_blank" class="names-in-footer">Paul<br />
              Santos</a></h5> 
              <a href="https://www.linkedin.com/in/paulmichaelsantos" target="_blank"><i class="fa fa-linkedin-square fa-2x profile-icons"></i></a>
              <a href="https://github.com/paulducsantos" target="_blank"><i class="fa fa-github fa-2x profile-icons"></i></a>
              <a href="https://twitter.com/paulducsantos" target="_blank"><i class="fa fa-twitter fa-2x profile-icons"></i></a>
              <a href="https://paulsantos.herokuapp.com/" target="_blank"><i class="fa fa-user fa-2x profile-icons"></i></a>
            </div>
          </div>
        </div>
      </div><!-- end row -->
    </div>
    <div>
      © Trip Chats 2016
    </div>
  </div>
</footer>