<mapbox callback="callback"></mapbox>
<div class="row">
  <div id="mapid">
  </div>
  <div id="content" class="col l8 myItinerary">
    <!-- This is where your regular content should be -->
   <h2>Here is the latest itinerary!</h2>
   <a ui-sref="itineraries"><h6>Or click here to see all itineraries here!</h6></a>
   <h3>{{latestItinerary.title}} in <small>{{latestItinerary.location}}</small></h3>
   <ul>
     <li ng-repeat="activity in latestItinerary.Activities">{{activity.name}}</li>
   </ul>

   <h5>Suggestions</h5>
   <div class="comments" ng-repeat="comment in comments">
     <h6>{{comment.User.username}} says:</h6>
     <p>{{comment.text}}</p>
     <div class="divider"></div>
   </div>

   <h4>Been here? Help {{latestItinerary.User.username}} out and make a suggestion!</h4>
   <div ng-show="!user">
     <p>Sign up or login to leave a suggestion!</p>
   </div>
   <div ng-show="user">
     <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" ng-model="newComment"></textarea>
        <label for="textarea1">Leave a suggestion for {{latestItinerary.User.fname}}</label>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="addComment(latestItinerary.id)">Add Comment
        <i class="material-icons right">send</i>
      </button>
   </div>


  </div>
</div>
