<div class="container-fluid header-background" ng-init="init()">
  <h3 class="dash-header">TripChats | All Itineraries</h3>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="itineraryLists col-md-4">
      <div class="center input-field">
        <input type="text" ng-model="search.city" ng-change="filterGeo()" ng-model-options=" { debounce: 500 } " class="col-md-12 form-control searchbar searchWidth" placeholder="Search a specific location">
        <button ui-sref="itineraries({location: findLocation})" class="btn btn-default btn-primary searchItinBtn">Search</button>
      </div>


      <div class="panel add-panel itin-panel" ng-repeat="itinerary in allItineraries | filter:search:strict">


        <div class="panel-heading itin-heading clearfix" ng-mouseenter="hoverGeo(itinerary.city)">
          <div class="dash-heading-container clearfix" >
            <div class="col-sm-6">
              <h3 class="dash-itinerary-heading clearfix itinHead" ui-sref="showItinerary({id: itinerary.id})" >{{itinerary.title}}</h3>
            </div>
            <div class="col-sm-6">
              <h5 class="dash-itinerary-heading pull-right locationItin"> {{itinerary.city}}, {{itinerary.state}} {{itinerary.country}}</h5>
            </div>
          </div>
        </div>

        <div class="panel-body showItinerary-panel-body">
         <div ng-repeat="activity in currentItinerary.Activities">
          <div class="col-sm-4 interest-col">
            <div class=" show-itinerary-interest text-center">
              <span class="interest-name">{{activity.name}}</span>
            </div>
          </div><!-- end col s4 -->
        </div>

        <div class="form-group clearfix" ng-show="showCommentBox">
          <form>
            <div class="col-sm-12 interest-col">
              <textarea class="form-control" rows="3" id="comment" placeholder="Been there, done that?  Share your experience! Tell  {{currentItinerary.User.fname}} where to go on in {{currentItinerary.city}}."></textarea>
            </div>
            <div class="col-sm-6 interest-col">
              <input ng-model="comment.address" class="form-control col-sm-6 latest-address-input" type="text"  placeholder="Street Address"/>
            </div>
            <div class="col-sm-6 interest-col">
              <input ng-model="comment.link" class="form-control col-sm-6 latest-address-input"  type="text"  placeholder="Website"/>
            </div>
          </form>
        </div>
      </div>

      <div class="itinerary-footer clearfix">
        <div class="button-container pull-right">
          <div ng-hide="showCommentBox" class="comment-button-group pull-right">
            View Suggestions<a type="button" ng-click="showCommentBox=true" class="btn">Here</a>
          </div>
          <div class="comment-button-group pull-right" ng-show="showCommentBox">
            <a type="button" ng-click="showCommentBox=true"class="btn">Here</a>
            <a type="button"  ng-click="showCommentBox=false" class="btn">Cancel</a>
          </div>
        </div>
      </div>
    </div>

<!--             <div class="itinerary" ng-repeat="itinerary in allItineraries | filter:search:strict">
                <div class="row">
                    <h3 class="itinBorder"><a class="itineraryName col-md-8" ui-sref="showItinerary({id: itinerary.id})" >{{itinerary.title}}</a></h3>
                    <h5 class="col-md-4 userName" ui-sref="showItinerary({id: itinerary.id})"><small>User:</small> {{itinerary.User.username}}</h5>
                </div>
                <div class="row">
                    <h5 class="col-md-9 itineraryLocation">{{itinerary.city}}, {{itinerary.state}} {{itinerary.country}}</h5>
                    <h5 class="col-md-3 itineraryLocation interestsItin">Interests:</h5>
                </div>
                <div class="row">
                    <ul class="col-md-offset-6" ng-repeat="activity in itinerary.Activities">
                        <span class="interest-name"><button class="btn btn-xs btn-primary">{{activity.name}}</button></span>
                    </ul>
                </div>
                <h4><a  class="col-md-offset-3" ui-sref=".details({id: itinerary.id})">Suggestions</a></h4>
                <a class="btn btn-block btn-xs btn-success" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          View Suggestions
        </a>
                <div class="collapse" id="collapseExample">
                    <div class="well" ui-sref=".details({id: itinerary.id})">
                        <a ui-sref=".details({id: itinerary.id})"></a>
                    </div>
                </div>
                <div class="divider"></div>
              </div> -->
            </div>


    <div class="col-md-8 mapBorder">
      <div id="map">
          <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
            <ui-gmap-markers models="map.markers" coords="'coords'" idKey="id" click="onClick" doCluster="true" options="'options'">
                <ui-gmap-windows show="show">
                <div ng-non-bindable>
                  {{title}}
                  <br /> Located at: {{address}}
                </div>
              </ui-gmap-windows>
            </ui-gmap-marker>

          </ui-gmap-google-map>
        </div>
      </div>
    </div>

    <div>
      <ui-view></ui-view>
    </div>
  </div>
