
  <div class="row" ng-init="init()">
    <div class="col-md-4">
      <div class="col-md-3 center input-field">
        <input id="last_name" type="text" class="validate" ng-model="location" placeholder="Location">
  <!--       <label for="last_name">Search by location</label> -->
        <button class="searchBtn btn btn-danger" ng-click="filterGeo();" type="submit" name="action">Search
          <i class="material-icons right">search</i>
        </button>
      </div>
      <!-- <div class="col-md-4 center input-field">
        <input id="last_name" type="text" class="validate" ng-model="search.title" placeholder="Title">
        <label for="last_name">Search by title</label>
        <button class="searchBtn btn btn-danger" type="submit" name="action">Search
          <i class="material-icons right">search</i>
        </button>
      </div>
      <div class="col-md-4 center input-field">
        <input id="last_name" type="text" class="validate" ng-model="search.User.username" placeholder="Username">
        <label for="last_name">Search by user</label>
        <button class="searchBtn btn btn-danger" type="submit" name="action">Search
          <i class="material-icons right">search</i>
        </button>
      </div> -->

    </div>
    
  </div>

  <div class="row">
    <div class="itineraryLists col-md-4 col-s-12">
      <h3 class="itinerariesTitle">Itineraries</h3>
      <div class="itinerary" ng-repeat="itinerary in allItineraries | filter:search:strict">
        <div class="userImage col-md-3"><h1>DP</h1></div>
        <h3><a class="itineraryName col-md-9" ui-sref="showItinerary({id: itinerary.id})" >{{itinerary.title}}</a></h3>
        <h5 class="col-md-offset-3">{{itinerary.location}}</h5>
        <small class="col-md-3">User: {{itinerary.User.username}}</small>
        <br />
        <h4 class="col-md-offset-3">Activities</h4>
        <ul ng-repeat="activity in itinerary.Activities">
          <li>{{activity.name}}</li>
        </ul>
        <h4><a  class="col-md-offset-3" ui-sref=".details({id: itinerary.id})">Suggestions</a></h4>
        <!-- <div class="comments" ng-repeat="comment in comments">
          <h6>{{comment.User.username}} says:</h6>
          <p>{{comment.text}}</p>
          <div class="divider"></div>
        </div> -->
        <div class="divider"></div>
      </div>
    </div>

    <div class="col-md-8 mapBorder">
      <div>
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
          <ui-gmap-marker 
            ng-repeat="m in map.markers" 
            coords="m.coords" 
            icon="m.icon" 
            idKey="m.id" 
            options="m.options" 
            events="m.events">
          </ui-gmap-marker>

        </ui-gmap-google-map>
      </div>
    </div>

    <div>
      <ui-view></ui-view>
    </div>
    
    
  </div>
