<div ng-controller="AppCtrl">
  <div class="modal fade login dismiss" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
  <form class="form-horizontal formLogin">
    <h1 class="col-xs-12 loginSignup">Login</h1>
    <div class="form-group">
<!--       <label for="username" class="col-xs-2 control-label">User</label> -->
      <div class="col-xs-10 col-xs-offset-1 signupMargin">
          <h7 class="dash-itinerary-heading fields">Username</h7>
        <input type="text" class="form-control validate mdLgFields smFields formPadding" id="username" name="username" ng-model="username">
      </div>
    </div>
    <div class="form-group">

      <div class="col-xs-10 col-xs-offset-1">
          <h7 class="dash-itinerary-heading fields">Password</h7>
        <input type="password" class="form-control mdLgFields smFields" id="password" ng-model="password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-10">
        <button class="col-xs-10 col-xs-offset-2 btn btn-success" ng-click="login()" type="submit" data-dismiss="modal">Log in</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <hr class="loginDivder">
      </div>
      <div class="col-sm-2">
        <h6>or</h6>
      </div>
      <div class="col-sm-5">
        <hr class="loginDivder">
      </div>
    </div>
    

    <br/>
  </form>

  <div class="divider"></div>
      </div>
    </div>
  </div>
</div>