<!-- BOOTSTRAP NAVBAR -->
<nav class="navbar fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a class="navbar-brand hide-on-small-only" href="/">Trip Chats</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        
        <!-- When user is logged in -->
        <li ng-show="user" class="dropdown">
          <a id="username-navbar" href='#' class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}&nbsp;&nbsp;<i class="fa fa-sort-desc"></i></a>
          <ul class="dropdown-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">My Dashboard</a></li>
            <li><a href="/itineraries">All Itineraries</a></li>
            <li role="separator" class="divider"></li>
            <li ng-show="user">
              <li ng-click="logout()">
                <a>Logout</a>
              </li>
            </li>
          </ul>

          <!-- When user is not logged in -->
          <li ng-show="!user"><button type="button" class="btn btn-login" data-toggle="modal" data-target=".login">Log In</button></li>
          <li class="signup-link" ng-show="!user"><button type="button" class="btn btn-signup" data-toggle="modal" data-target=".signup">Sign Up</button></li>

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>