<div class="container" ng-init="getUsers()">
  <div class="row">
    <div class="col s12 m6">
      <div class="itinerary" ng-repeat="itinerary in userItineraries">
        <h3>Profile Partial</h3>
        <h3><a href="/itineraries/{{itinerary.id}}">{{itinerary.title}}</h3></a>
        <h5>{{itinerary.location}}</h5>
        <br />
        <h4>Activities</h4>
        <ul ng-repeat="activity in itinerary.Activities">
          <li>{{activity.name}}</li>
        </ul>
        <h4>Suggestions</h4>
        <!-- <div class="comments" ng-repeat="comment in comments">
          <h6>{{comment.User.username}} says:</h6>
          <p>{{comment.text}}</p>
          <div class="divider"></div>
        </div> -->
        <div class="divider"></div>
      </div>
    </div>
    <div>
      <ui-view></ui-view>
    </div>
  </div>
</div>