<div class="container-fluid header-background" ng-init="getUserProfile()">
  <h3 class="dash-header">{{ userItineraries[0].User.username }}'s Itineraries</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
    <br />
    <div class="itinerary" ng-repeat="itinerary in userItineraries">
        <h3><a href="/itineraries/{{itinerary.id}}">{{itinerary.title}}</a></h3>
        <h5>{{itinerary.location}}</h5>
        <br />
        <div class="row">
          <div class="col-md-4"ng-hide="deleted">
            <h4>Activities</h4>
            <div class="interest text-center" ng-repeat="activity in itinerary.Activities">
              <span class="interest-name">{{activity.name}}</span>
            </div>
          </div>
          <div class="col-md-4"ng-hide="deleted">
            <h4>Suggestions</h4>

            <div ng-show="comments" ng-repeat="comment in comments">
              <div>
                <h6>{{comment.User.username}} says:</h6>
                <p>{{comment.text}}</p>
              </div>
              
              <div class="divider"></div>
            </div>

            <!-- <div class="interest text-center" ng-repeat="activity in itinerary.Activities"> -->
          </div>
          
        </div>
        <!-- <div class="comments" ng-repeat="comment in comments">
          <h6>{{comment.User.username}} says:</h6>
          <p>{{comment.text}}</p>
          <div class="divider"></div>
        </div> -->
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>