<div class="container-fluid header-background"  ng-init="getCurrentItinerary()">
  <h3 class="dash-header text-center">{{currentItinerary.title}}</h3>
</div>
  <div class="row add-comment-row">
    <div class="col-sm-6">
      <div class="panel-heading">
        <h3 class="dash-itinerary-heading"><a class="username-dash-itinerary-heading" ui-sref="user({username: currentItinerary.User.username})">@{{currentItinerary.User.username}}</a> is interested in:</h3>
      </div>

      <div class="panel-body showItinerary-panel-body">
        <div ng-repeat="activity in currentItinerary.Activities">
          <div class="col-sm-3 col-xs-6 interest-col">
            <div class=" interest text-center">
              <span class="interest-name">{{activity.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">

      <div class="panel add-panel itin-panel add-comment-panel">
        <div class="form-group" >
          <form>
            <div class="col-sm-12 interest-col ">
              <textarea ng-model="comment.text" class="form-control" rows="2" id="comment" placeholder="Been there, done that?  Share your experience! Tell  {{currentItinerary.User.fname}} where to go on in {{currentItinerary.city}}."></textarea>
            </div>
            <div class="col-sm-5  interest-col">
            <div class="form-group add-itinerary-form">
              <input ng-model="comment.address" class="form-control" type="text"  placeholder="Street Address"/>
            </div>
            </div>
            <div class="col-sm-5 interest-col">
            <div class="form-group add-itinerary-form">
              <input ng-model="comment.link" class="form-control"  type="text"  placeholder="Website"/>
              </div>
            </div>
            <div class="col-sm-2 interest-col">
            <div class="form-group add-itinerary-form">
              <button type="button" ng-click="addComment(currentItinerary.id, currentItinerary.city)"class="btn btn-success share-btn">Share It!</button>
              </div>
            </div>
          </form>
        </div>
      </div>


    </div>

  </div>


<div class="container-fluid">

<div class="row">
  <div class="col-sm-4 comments-column">
     <!-- End Panel-->

    <div class="">
      <div class="comment-box" ng-repeat="comment in currentItinerary.comments"><!-- ng-repeat="comment in comments" -->
        <div class="row">
          <div class="col-sm-12">
            <div class="comment-heading">
              <span class="" ng-click="" >{{comment.User.fname}}</span><a ng-click="" class="itin-handle"> @{{comment.User.username}}</a> suggested: <span class="date pull-right">{{comment.createdAt | date: "mediumDate"}}</span>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="comment-text">
              {{comment.text}}
            </div>
            <div class="comment-footer clearfix">
              <div class="itin-button-container pull-right">
                <span class="street-address">{{comment.address}}</span>
                <a  class="website" ng-click"">Visit Site</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8 map-col">
    <div id="map">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-markers models="map.markers" coords="'coords'" idKey="id" click="onClick" doCluster="true" options="'options'">
          <ui-gmap-windows show="show">
            <div ng-non-bindable>
              {{title}}
              <br /> Located at: {{address}}
            </div>
          </ui-gmap-windows>
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
</div>

</div>

