<div class="container-fluid header-background"  ng-init="getCurrentItinerary()">
  <h3 class="dash-header">{{currentItinerary.title}}</h3>
</div>

<div class="container-fluid">

<div class="row">
  <div class="col-sm-4 comments-column">
    <div class="panel add-panel itin-panel">

      <div class="panel-heading itin-heading">
          <h3 class="dash-itinerary-heading">@{{currentItinerary.User.username}} is interested in:</h3>
      </div>

      <div class="panel-body showItinerary-panel-body">
         <div ng-repeat="activity in currentItinerary.Activities">
          <div class="col-sm-4 interest-col">
            <div class=" show-itinerary-interest text-center">
              <span class="interest-name">{{activity.name}}</span>
            </div>
          </div><!-- end col s4 -->
        </div>

        <div class="form-group clearfix" ng-show="showCommentBox">
          <form>
            <div class="col-sm-12 interest-col">
              <textarea ng-model="comment.text" class="form-control" rows="3" id="comment" placeholder="Been there, done that?  Share your experience! Tell  {{currentItinerary.User.fname}} where to go on in {{currentItinerary.city}}."></textarea>
            </div>
            <div class="col-sm-6 interest-col">
              <input ng-model="comment.address" class="form-control col-sm-6 latest-address-input" type="text"  placeholder="Street Address"/>
            </div>
            <div class="col-sm-6 interest-col">
              <input ng-model="comment.link" class="form-control col-sm-6 latest-address-input"  type="text"  placeholder="Website"/>
            </div>
          </form>
        </div>
      </div>

      <div class="itinerary-footer clearfix">
        <div class="button-container pull-right">
          <div ng-hide="showCommentBox" class="comment-button-group pull-right">
            Have a suggestion for {{currentItinerary.User.fname}}?<a type="button" ng-click="showCommentBox=true" class="btn">Share It!</a>
          </div>
          <div class="comment-button-group pull-right" ng-show="showCommentBox">
            <a type="button" ng-click="addComment(currentItinerary.id, currentItinerary.city);showCommentBox=false"class="btn">Share It!</a>
            <a type="button"  ng-click="showCommentBox=false" class="btn">Cancel</a>
          </div>
        </div>
      </div>
    </div> <!-- End Panel-->
  <hr class="show-itin-hr">

  <div class="recent-comment-header">
    <h4>Recent Comments</h4>
  </div>
    <div class="">
      <div class="comment-box" ng-repeat="comment in currentItinerary.comments"><!-- ng-repeat="comment in comments" -->
        <div class="row">
          <div class="col-sm-12">
            <div class="comment-heading">
              <span class="" ng-click="" >{{comment.User.fname}}</span><a ng-click="" class="itin-handle"> @{{comment.User.username}}</a> suggested: <span class="date pull-right">{{comment.createdAt | date: "mediumDate"}}</span>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="comment-text">
              {{comment.text}}
            </div>
            <div class="comment-footer clearfix">
              <div class="itin-button-container pull-right">
                <span class="street-address">{{comment.address}}</span>
                <a  class="website" ng-click"">Visit Site</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8 map-col">
    <div id="map">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-markers models="map.markers" coords="'coords'" idKey="id" click="onClick" doCluster="true" options="'options'">
          <ui-gmap-windows show="show">
            <div ng-non-bindable>
              {{title}}
              <br /> Located at: {{address}}
            </div>
          </ui-gmap-windows>
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
</div>

</div>

