<div ng-controller="AppCtrl">
  <div class="modal fade signup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <form class="form-horizontal">
          <h1 class="loginSignup">Sign-Up</h1>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group signupMargin">
      <div class="col-xs-8 col-xs-offset-2">
          <h7 class="dash-itinerary-heading fields">First Name</h7>
        <input type="text" class="form-control inputField" id="fname" placeholder="John" ng-model="fname">
      </div>


      <div class="col-xs-8 col-xs-offset-2">
          <h7 class="dash-itinerary-heading fields">Last Name</h7>
        <input type="text" class="form-control inputField" id="lname" placeholder="Doe" ng-model="lname">
      </div>


      <div class="col-xs-8 col-xs-offset-2">
          <h7 class="dash-itinerary-heading fields">Email Address</h7>
        <input type="email" class="form-control inputField" id="email" placeholder="example@example.com" ng-model="email">
      </div>


      <div class="col-xs-8 col-xs-offset-2">
          <h7 class="dash-itinerary-heading fields">Username</h7>
        <input type="text" class="form-control inputField" id="username" placeholder="Username" ng-model="username">
      </div>


      <div class="col-xs-8 col-xs-offset-2">
        <label for="password" class="dash-itinerary-heading fields">Password</label>
        <input type="password" class="form-control inputField" id="password" placeholder="Password" ng-model="password">
      </div>


      <div class="col-xs-6 col-xs-offset-3">
        <button ng-click="signup()" type="submit" class="btn btn-success signupBtn" data-dismiss="modal">Sign Up</button>
        <div class="pull-right">
          <br />
          <span class="grey-text">Already a member?</span>
          <a type="button" data-toggle="modal" data-target=".login" data-dismiss="modal" class="pointer">Log in</a>
        </div>
      </div>
    </div>



<!--     <div class="row">
      <div class="col-xs-5">
        <hr class="loginDivder">
      </div>
      <div class="col-xs-1">
        <h6>or</h6>
      </div>
      <div class="col-xs-5">
        <hr class="loginDivder">
      </div>
    </div> -->
<!--     <div class="form-group row">
      <div class="col-sm-10 col-sm-offset-2 socialMediaBtns">
        <button type="button" class="facebook btn btn-primary btn-circle" ng-click="login()" type="submit" data-dismiss="modal" href="/auth/facebook"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></button>
        <button type="button" class="google btn btn-danger btn-circle" ng-click="login()" type="submit" data-dismiss="modal"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></button>
        <button type="button" class="twitter btn btn-info btn-circle" ng-click="login()" type="submit" data-dismiss="modal" ><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></button>
        <button type="button" class="linkedIn btn btn-primary btn-circle" ng-click="login()" type="submit" data-dismiss="modal" ><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></button>
      </div>
    </div> -->
  </div>
</div>
  </form>
      </div>
    </div>
  </div>
</div>
